{% extends 'base.html' %}

{% block title %}Список постів{% endblock %}

{% block content %}
    <div class="blog__header">
        <h2 class="blog__title">Список постів</h2>
        <a class="blog__button btn" href="{% url 'post_create' %}">Створити новий пост</a>
    </div>
    <div class="blog__body">
        {% for post in posts %}
            <div class="post">
                <div class="post__header">
                    <h3 class="post__title">{{post.title}}</h3>
                    <p class="post__author">{{post.author}}</p>
                </div>
                <div class="post__body">{{post.content}} </div>
                <div class="post__buttons">
                    <a class="post__button btn" href="{% url 'post_edit' post.pk %}">Редагувати</a>
                    <a class="post__button btn btn-danger" href="{% url 'post_delete' post.pk %}">Видалити</a>
                </div>
            </div>
        {% empty %}
            <p class="blog__message">Наразі немає жодного поста.</p>
        {% endfor %}
    </div>
{% endblock %}